$background-color: #DDC9B4;
$emphasis-red: #DB504A;
$emphasis-blue: #084C61;
$text-color-light: #F0E9E9;
$text-color-dark: #211E1E;

$text-font: "Inter", Arial, Helvetica, sans-serif;
$title-font: "La Belle Aurore", "Times New Roman", Times, serif;
