@import './styles/variables';
@import './styles/mixins';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Hero Section */

.container {
  margin-top: 100px;
}

.hero-section {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 330px;
}

.hero-text {
  display: grid;
  justify-content: left;
  position:relative;
  top: 25%;
  left: 10%;
  color: $text-color-light;
}

.hero-text, h5, button {
  font-family: $text-font;
}

.hero-text h5 {
  font-size: 1rem;
  margin-bottom: 2rem;
  display: inline-grid;
  justify-content: center;
}

.hero-text h1 {
  font-family: $title-font;
  font-size: 3rem;
  margin-bottom: 1.8rem;
  display: inline-grid;
  justify-content: center;
}

.hero-text button {
  color: $emphasis-blue;
  background-color: $background-color;
  border-radius: 25px;
  border: none;
  display: inline-grid;
  justify-self: center;
  text-transform: uppercase;
  font-weight: 600;
  width: fit-content;
}